<ion-header>
  <ion-toolbar color="ny">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar nueva noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>NUEVA NOTICIA</ion-card-header>
        <ion-card-content>
          <form [formGroup]="form" (keyup.enter)="saveNewNoticia()">
          <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input formControlName="title" type="text" placeholder="Escribe el título de la noticia" #title></ion-input>
            <span *ngIf="form.controls.title.invalid && form.controls.title.touched"
            [ngStyle]="{'color':'red'}"> {{gettitleMessage()}} </span>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Imágen</ion-label>
            <ion-input formControlName="imageURL" type="url" placeholder="Copia el URL de la imágen" #imageURL></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Categoría</ion-label>
            <ion-input formControlName="subtitle" type="text" placeholder="Categoría de la noticia" #subtitle></ion-input>
          </ion-item>
          <ion-item counter="true">
            <ion-label position="floating">Descripción</ion-label>
            <ion-input maxlength="1000" formControlName="description" type="text" placeholder="Cuerpo de la noticia" #description></ion-input>
          </ion-item>
            <ion-buttons>
            <ion-button  [disabled]="!form.valid" (click)="saveNewNoticia()"><ion-icon name="send"></ion-icon>| ENVIAR</ion-button>
            </ion-buttons>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
