<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Noticias Ya!</ion-list-header>
          <ion-note>Bienvenido!</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <h3 class="cat">Anuncios publicitarios</h3>

        <a href="https://www.pepsi.com/"><img src="../assets/noticiasimg/pepsi.jpg" alt=""></a>
        <a href="https://www.nike.com/until-we-all-win"><img src="../assets/noticiasimg/nike.png" alt=""></a>
        <a href="https://www.headandshoulders-la.com/es"><img src="../assets/noticiasimg/headandshoulder.jpg" alt=""></a>
        <a href="https://www.smartfit.com.ar/"><img src="../assets/noticiasimg/smartfit.jpg" alt=""></a>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
