ion-content{
    --background: black;
}

ion-toolbar{
    background-color: #e2fc1d;
}

ion-button{
    --background-activated: black;
    color: #e2f93796;
}

h1{
    text-align: center;
    font-size: x-large;
    color: black;
    margin-bottom: 0;
}

.boto{
    --background: #e2f93796;
    color: black;
}