<ion-header>
  <ion-toolbar color="ny">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{noticia.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNoticia()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="noticia.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>{{noticia.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>{{noticia.subtitle}}</h2>
      </ion-col>
    </ion-row>
    <hr size="8px" color="white" />
    <ion-row>
      <ion-col>
        <p>{{noticia.description}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
