<ion-header>
  <ion-toolbar color="ny">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cerrar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Estás seguro/a?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Una vez que confirmes este paso, tendrás que volver a iniciar sesión con tu mail y contraseña.
    </ion-card-content>
  
    <ion-button>Volver</ion-button>
    <ion-button>Confirmar</ion-button>
  </ion-card>

</ion-content>
