<ion-header>
  <ion-toolbar color="ny">
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="10">
        <div class="datos">Nombre</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="10">
        <div class="datos">Apellido</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="10">
        <div class="datos">Mail</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="10">
        <div class="datos">Fecha de creación</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
