<ion-header>
  <ion-toolbar color="ny">
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Nombre</h4>
        <div class="datos">Juan</div>
        <hr size="8px" color="black" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Apellido</h4>
        <div class="datos">Perez</div>
        <hr size="8px" color="black" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Mail</h4>
        <div class="datos">juanperez@hotmail.com</div>
        <hr size="8px" color="black" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Teléfono</h4>
        <div class="datos">12345678910</div>
        <hr size="8px" color="black" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Fecha de creación</h4>
        <div class="datos">01/09/2022</div>
        <hr size="8px" color="black" />
      </ion-col>
    </ion-row>
  </ion-grid>

  
    <div>
      <ion-button size="large" shape="round" expand="block">
        <ion-icon slot="start" name="clipboard"></ion-icon>
        Modificar datos
      </ion-button>
    </div>
    
    <div>
      <ion-button size="large" shape="round" expand="block">
        <ion-icon slot="start" name="trash"></ion-icon>
        Eliminar cuenta
      </ion-button>
    </div>
    
  
</ion-content>
