ion-toolbar{
    background-color: var(--ion-color-ny);
}

.datos{
    color: #d2e827d7;
    margin-left: 55px;
    margin-right: 55px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4{
    text-align: center;
    font-style: oblique;
}

ion-button{
    --background: #e2f93796;
    --background-activated: black;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}