ion-toolbar{
    background-color: var(--ion-color-ny);
}

.cat{
    color: var(--ion-color-ny);
}

.publicidad{
    text-align: center;
    --background: black;
}

ion-button{
    --background: #e2f93796;
    --background-activated: black;
    color: black;
    padding-bottom: 5px;
}

h4{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    color: white;
}

ion-card-subtitle{
    color: #c5db1bed;
    text-align: center;
    margin-top: 5px;
}

ion-card-title{
    text-align: center;
}

ion-content{
    --background: black;
}

ion-fab-button{
    --background: #e2f93796;
    --color: black;
}

p{
    text-align: center;
}

/*ion-refresher{
    background-color: #e2f93796;
}*/

ion-card-content{
    text-align: center;
}

.elim{
    margin-top: 10px;
}