<ion-header>
  <ion-toolbar color="ny">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <h4>Noticias destacadas</h4>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item class="publicidad">
      <ion-label>
        <h3 class="cat">Anuncio publicitario</h3>
        <a href="https://www.nike.com/until-we-all-win"><img src="../../assets/noticiasimg/nike.png"></a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item class="publicidad">
      <ion-label>
        <h3 class="cat">Anuncio publicitario</h3>
        <a href="https://www.bimbo.com.ar/"><img src="../../assets/noticiasimg/bimbo.jpg"></a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-button slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Cuerpo de la noticia</p>
      </ion-label>
    </ion-item>

    <ion-item class="publicidad">
      <ion-label>
        <h3 class="cat">Anuncio publicitario</h3>
        <a href="https://www.pepsi.com/"><img src="../../assets/noticiasimg/pepsi.jpg"></a>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
