<ion-header>
  <ion-toolbar color="ny">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Noticias destacadas</h4>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  
  <ion-item class="publicidad">
    <ion-label>
      <h3 class="cat">Anuncio publicitario</h3>
      <a href="https://www.nike.com/until-we-all-win"><img src="../../assets/noticiasimg/nike.png"></a>
    </ion-label>
  </ion-item>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  <ion-item class="publicidad">
    <ion-label>
      <h3 class="cat">Anuncio publicitario</h3>
      <a href="https://www.hbolatam.com/us"><img src="../../assets/noticiasimg/hbo.jpg"></a>
    </ion-label>
  </ion-item>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  <ion-card button="true">
    <img src="../../assets/noticiasimg/Incendio.jpg" />
    <ion-card-header>
      <ion-card-title>Título noticia</ion-card-title>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Descripción de la noticia. Descripción de la noticia. Descripción de la noticia. 
    </ion-card-content>
  </ion-card>

  <ion-item class="publicidad">
    <ion-label>
      <h3 class="cat">Anuncio publicitario</h3>
      <a href="https://www.pepsi.com/"><img src="../../assets/noticiasimg/pepsi.jpg"></a>
    </ion-label>
  </ion-item>


</ion-content>
