ion-toolbar{
    background-color: var(--ion-color-ny);
}

.cat{
    color: var(--ion-color-ny);
}

.publicidad{
    text-align: center;
}

ion-button{
    --background: #e2f93796;
    --background-activated: black;
    color: black;
}

h4{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
}