<ion-header>
  <ion-toolbar color="ny">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/noticiasimg/Incendio.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="open-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Título noticia</h2>
        <h3 class="cat">Categoría</h3>
        <p>Resumen de la noticia o inicio de la misma</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
